# Node
node_modules/
dist/
.env.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
.cache/
.vscode/
.idea/
*.tsbuildinfo
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
.tmp/
temp/